html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
 top: 0;
 position: fixed;
 width: 100%;
 z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  float: left;
  font-size: 2rem;

}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;

}

header ul li {
  padding: 1rem;
}

/* Section 1: Banner */

#banner {
  margin-top: 4rem;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.students {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem;
}

 #banner img {
  width: 100%;
 }

.content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1.5rem 0;
}

content_info {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.title {
  font-size: 3.125rem;
}

.subtitle {
  line-height: 1.5;
  font-size: 1.625rem;
}

button {
  background-color: black;
  padding: 0.5rem 9rem;
  font-size: 1.25rem;
  color: white;
  border-style: none;
}

/* Section 2: Practice */

#practice {
  display: flex;
  flex-direction: row;
}

.college {
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem;
  width: 60%;
}


.reader {
  display: flex;
  width: 100%
}

.college h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.hiring {
  margin: 0 0 0.5rem 0;
  font-size: 1.125rem;
}

.quote p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.university {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid gray;
  padding: 2rem 0;
}

.campus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#orientation, #our_campus {
  border-bottom: 1px solid gray;
}

.campus:hover {
  background: lightgray;
}

.campus img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.campus .info {
  padding: 0 0.8rem;
  width: 65%;
}

.info h3 {
  font-size: 1.375rem;
}

a {
  text-decoration: none;
  color: blue;
}

/* Section 3: Learn */

#courses{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 2rem 4.5rem;
}

#courses h2 {
  text-align: center;
  font-size: 2rem;
}

.subjects {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.course {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 27%;
  background-color: white;
  margin: 2rem;
}

.course h3 {
  font-size: 1.375rem;
}

.subheader {
  padding: 0.5rem 0;
}

.course_info {
  padding: 1rem;
}



/* Section 4: Thesis */

#thesis h2 {
  text-align: center;
  font-size: 2rem;
}

.exhibit {
  display: flex;
  flex-direction: row;
}

.reimagine {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1.5rem;
}

video {
  width: 100%;
}

.urban h3{
  margin: 1.5rem 0 0.5rem 0;
}
.research {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1.5rem 1.5rem;
}

.jpg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jpg img {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.jpg:hover {
  background-color: lightgray;
}

.description {
  width: 65%;
  padding: 0 0.8rem;
}
/* Footer */

.academy {
display: flex;
}

/* Mobile Media Queries */

@media only screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

}