/* Universal Styles */


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Comme, Arial;
}


/* Header */

header {
 position: fixed;
 width: 100%;
 z-index: 1;
 top: 0;
 padding: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  float: left;
  font-size: 1.5rem;
}

#first {
  color: #7395AE;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;

}

header ul li {
  padding: 0 1rem;
}

.mobile_nav {
  display: none;
}

/* Section 1: Banner */

#banner {
  margin-top: 4rem;
  background-color: #9db5c7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.students {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem;
}

 #banner img {
  width: 100%;
 }

.content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1.5rem 0;
}

.content_info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;

}
.title {
  font-size: 3.75rem;
  margin: 0 auto;
}

.subtitle {
  line-height: 1.5;
  font-size: 2rem;
}

button {
  background-color: black;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  border-style: none;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}

button:hover {
  background-color: #4A4A4E;
  color: #dee6ec;
  text-transform: uppercase;
}


/* Section 2: Practice */

#practice {
  display: flex;
  flex-direction: row;
}

.college {
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem;
  width: 60%;
}

.reader {
  display: flex;
  width: 100%
}

.college h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.hiring {
  margin: 0 0 0.5rem 0;
  font-size: 1.125rem;
}

.quote p {
  font-size: 1.25rem;
}

.university {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid gray;
  padding: 2rem 0;
}

.campus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#orientation, #our_campus {
  border-bottom: 1px solid gray;
}

.campus:hover {
  background: lightgray;
}

.campus img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.campus .mobile-img {
  display: none;
}

.campus .info {
  padding: 0 0.8rem;
  width: 65%;
}

.info h3 {
  font-size: 1.375rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: blue;
}


/* Section 3: Learn */

#courses{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 2rem 4.5rem;
}

#courses h2 {
  text-align: center;
  font-size: 2rem;
}

.subjects {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.course {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 27%;
  background-color: white;
  margin: 2rem;
}

.course h3 {
  font-size: 1.375rem;
}

.subheader {
  padding: 0.5rem 0;
}

.course_info {
  padding: 1rem;
}

/* Section 4: Thesis */

#thesis {
  margin: 2rem 0;
}

#thesis h2 {
  text-align: center;
  font-size: 2rem;
}

.exhibit {
  display: flex;
  flex-direction: row;
}

.reimagine {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1.5rem;
}

video {
  width: 100%;
}


.urban h3{
  margin: 1.5rem 0 0.5rem 0;
}

.urban p {
  font-size: 1.0625rem;
}


.research {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1.5rem 0;
}

.jpg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jpg img {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.jpg:hover {
  background-color: lightgray;
}

.description {
  width: 65%;
  padding: 0 0.8rem;
}

.description h3 {
  font-size: 1.25rem;
}

.description p {
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

/* Footer */

.academy {
display: flex;
justify-content: space-between;
}

.academy ul li {
  padding: 0 0.5rem;
}


/* Mobile Media Queries */

@media screen and (max-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

/* Header Styles */

  .navbar {
    display: none;
  }

  header {
    display: block;
    width: 100%;
    padding: 0;
  }

  .mobile_nav {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
  }

  .mobile_nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 90%;
  }

  .mobile_nav ul li {
    padding: 0;
  }

/* Section 1: Banner Styles */

  #banner {
    display:flex;
    flex-direction: column;
  }

  #banner .students {
    width: 100%;
    margin: 0;
  }

  #banner img {
    width: 100%;
  }

  #banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  #banner .content_info {
    padding: 0 1rem 2rem;
  }

  #banner h2.title {
    margin: 2rem 1rem;
    line-height: 1.25;
  }


  #banner p.subtitle {
    margin: 0 1rem 1.5rem;
  }

  button {
    padding: 1.25rem;
    width: 100%;
  }


 /* Section 2: Practice Section Styles */

.college {
  display: none;
}

.university {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: none;
  padding: 1rem 1rem 2rem;
}

.campus {
  display: flex;
  flex-direction: column;
}

.campus img {
  display: none;
}

.campus .mobile-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.campus .info {
  width: 100%;
  padding-left: 2rem;
}

.info h3 {
  font-size: 1.5rem;
}

.info p {
  font-size: 1.125rem;
}

.campus:hover {
  background-color: unset;
}

#orientation, #our_campus {
  border-bottom: none;
  padding-bottom: 3rem;
}


/* Section 3: Courses Styles */

#courses {
  padding: 2rem;
}

#courses h2 {
  margin: 2rem 0 1rem;
  font-size: 2.125rem;
}

.course {
  width: 100%;
  margin: 1rem 0 0.5rem;
}

.course img {
  display: none;
}

.course h3 {
  font-size: 1.625rem;
}

.course_info p {
  display: none;
}

/* Section 4: Thesis Styles */

#thesis h2 {
  margin: 0;
}

.urban {
  display: none;
}

.research {
  display: none;
}

.reimagine {
  width: 100%;
  padding: 1rem 0;
}

.reimagine video {
  width: 100%;
  height: 100%;
}

.academy p {
  margin: 1rem;

}

.academy ul {
  display: none;
}

}



